.BadgesList {
  background: #ffffff;
  margin-bottom: 1rem;
  display: flex;
  padding: 1rem0;
  width: 600px;
}

.BadgesListItem {
  background: #ffffff;
  border-radius: 30px30px30px30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}

.BadgesListItem__twitter {
  color: dodgerblue;
}
